.container1{
    background-color:#242F36 ;
    text-align: center;
    border-radius: 10px;
    color: #39FF14;
    font-family: "Courier New";

    padding-right: 20px;
    padding-left: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.container1 h1{
    text-shadow: 2px 2px 5px #27AE60;
}

.container2{
    padding: 2.5px;
    margin-top: 5px;
    background-color:#242F36;
    color: #39FF14;
    text-align: center;
    border-radius: 10px;

    font-family: "Courier New";

    padding-right: 20px;
    padding-left: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

div #buttons {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    margin-top: 30px;
}

div button {
    flex-grow: 1; /* Makes all buttons take equal space */
    margin: 5px; /* Adds spacing around buttons */
    padding: 10px 15px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 10px;
    border: none;
    background-color: #08FDD8;
    color: #27AE60;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}
div button a {
    color: #FF2E63;
    text-decoration: none;
}
